* {
    font-family: Helvetica, sans-serif;
/*    font-size: 22px;*/
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}


/*header*/

header {
    height: 69px;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: black;
    border-bottom: solid seashell 1px;
    
    display: flex;
    position: fixed;
    z-index: 30;
    justify-content: space-between;
    align-items: center;
}

nav {
    text-decoration: underline;
    width: 400px;
    min-width: 350px;
    margin-right: 10px;
    
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 50px;
    padding-left: 10px;
    
    display: flex;
    z-index: 40;
}


/*content*/

#mission {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
    margin: auto;
    height: 770px;
    width: 1200px;
    
    display: flex;
    align-items: center;

}

.title {
    width: 1200px;
    height: auto;

}

#featured {
    font-size: 20px;
    
    width: 1000px;
    margin: auto;
    padding-top: 80px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#featitems {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tea {
    height: 200px;
    width: 300px;
    margin: 10px;
}

#locations {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
    height: 500px;
    width: 1200px;
    margin: auto;

}

#locations h2 {
    font-size: 30px;
    
    padding-top: 80px;
    
    background-color: transparent;
    opacity: 1;
    display: block;
}

#boxes {
    background-color: transparent;
    
    width: 1200px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    width: 300px;
    opacity: 1;
    
    padding-bottom: 10px;
    margin: 15px 20px;
    
    display: flex;
    flex-direction: column;
    height: auto;
}

#base {
    height: 200px;
}


/*footer*/

#copyright {
    font-size: 12px;
    text-align: left;
    margin-left: 20px;
}